.flex-center {
  justify-content: center;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.text-placeholder {
  font-style: italic;
  color: grey;
}

.no-indent {
  padding-left: 0;
}
