html {
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  margin: 0.3rem;
}

.text-placeholder {
  font-style: italic;
  color: grey;
}

.resume-section {
  background: #eee;
  padding: 0.3rem 1rem;
}

.resume-section__header {
  font-size: 2rem;
  font-weight: bold;
}

.resume-section__main-content {
  display: flex;
  justify-content: space-between;
}

.resume-section__list {
  background: #ddd;
}

.job__title {
  font-weight: bold;
}
